.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #42566B;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*AÑADIDOS*/
.menu-container, .menu-movil-container{
  display: flex;
  flex-direction: row;
  justify-content: right;
}


/*AJUSTES PANTALLAS ORDENADORES*/
  @media only screen and (min-width : 901px) {

     /*Menu para pantallas ordenadores*/
  .menu-movil-container {
      display:none;
    }
    #simple-menu {
      display:none;
    }
    .menu-container{
      display:true;
    }

     /*Equipo para pantallas ordenadores*/
    .avatar{
      width:50%;
      height:auto;
      border-radius: 150px;
     
     
    }
    .container-member{
      width:50%;
      display:flex;
      flex-direction: row;
      
    }
    .member-text{
      width: 50%;
    }
    .member-right-movil{
      display: none;
    }
    .member-right-pc{
      display: true;
    }
      /*Formulario de contacto para pantallas ordenadores*/
      .input-form-movil{
        display: none;
      }
      .container-input{
        display: true;
      }

      /*Mapa y texto para pantallas ordenadores*/
      .container-contact{
        display: flex;
        flex-direction: row;
        margin-top: 3%;
      }
      
      .contact-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

       /*Contenedor de formulario de añadir para pantallas ordenador*/
    .containter-form-addpatient-inputs-movil{
      display: none;
    }
    .containter-form-addpatient-inputs-pc{
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-top: 5vh;
     
      }
    
    }

/*AJUSTES PANTALLAS MÓVILES*/

@media only screen and (max-width : 900px) {

  /*Menu para pantallas moviles*/
  .menu-movil-container{
    display:true;
    }
    .menu-container{
      display:none;
    }

    
    /*Equipo para pantallas moviles*/

    .avatar{
      width:100%;
      height:auto;
      border-radius: 150px;
     
     
    }
    .container-member{
      width:100%;
      display:flex;
      flex-direction: column;
      
    }
    .member-text{
      width: 100%;
    }
    .member-right-movil{
      display: true;
    }
    .member-right-pc{
      display: none;
    }

    /*Formulario de contacto para pantallas móviles*/
    .container-input{
      display: none;
    }
    .input-form-pc{
      display: none;
    }
    .input-form-movil{
      display: true;
    }

    /*Mapa y texto para pantallas móviles*/
    .container-contact{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
     
 
    }

    /*Table container para pantallas móviles*/
    .container-table{
      padding-left: 10vw;
    }

    /*Contenedor de formulario de añadir para pantallas móviles*/
    .containter-form-addpatient-inputs-movil{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 5vh;
     
    }
    .containter-form-addpatient-inputs-item-movil{
      padding-top: 1vh;
    }
    .containter-form-addpatient-inputs-pc{
      display: none;
    }
   
  }
 

  /*Contenedor banner*/
  .container-banner{
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 50vh;
   
  }
  .container-banner-text{
     color:#011a35;
     margin: auto;
     font-weight: bold;
   
    
 }
 /*Estilo para el segundo typography*/
 h3 ~ h5 {
   font-style: italic; 
}

/*Contenedor principal*/
.main-container{
  display: flex;
  flex-direction: column;
  background-color:#ADBEC7;
  color:#011a35;
  align-items: center;
  padding-bottom: 5%;
 
}

.container-history, .container-team, .container-form{
  width:70vw;
  padding-top: 5%;
  padding-bottom: 5%;
 
}
.title-who{
  padding-bottom: 5%;
}

/*Para que los miembros del equipo en posicion impar esten a la derecha*/
.member-wrapper-rigth{
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.container-footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: #42566B;
  color:white;
 
}

.container-socials{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}
.container-form{
  width:70vw;
  
  
}
.input-form,.input-form-movil,.input-form-pc, .button-form{
  padding-top: 2%;
 
}
.container-input{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
 
  
}
.container-input div{
 margin-right:2px;
  
}
/*Contenedor principal login*/
.main-container-login{
  display: flex;
  flex-direction: row;
  background-image:url("D:\TRABAJO\Desarrollo\Reactjs\centro-salud-privado\src\images\banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  color:#011a35;
  
}
.container-form-login{
  width:100vw;
 
}

.container-table{
  margin-top: 5vh;
  width: 88vw;
}
.button-new{
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
 justify-content: flex-end;
 
}
.group-button-form{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

